@import url(../css/nullstyle.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@300;400;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.section {
  padding: 120px 0px;
}

.title {
  font-size: 36px;
  line-height: 43px;
}

.title::after {
  content: "";
  display: block;
  height: 2px;
  width: 60px;
  margin: 30px 0px auto;
}

.header {
  background-color: #000000;
  padding: 20px 0px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu ul a {
  margin-left: 50px;
  color: #9a9a9a;
}

.header__menu ul a:hover {
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.welcome {
  background-color: #9a9a9a;
}

.welcome__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.welcome__item {
  max-width: 520px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.welcome__title::after {
  background-color: #ffffff;
  margin: 40px 0px;
}

.welcome__text {
  font-size: 16px;
  line-height: 23px;
}

.welcome__form {
  background-color: #ffffff;
  max-height: 100%;
}

.welcome__form-label {
  background-color: #f5f5f5;
}

.welcome__form-data input {
  display: block;
}

.welcome__form-submit input {
  background-color: #ff9b51;
}

.footer {
  color: #ccc;
  background-color: #000000;
}

.footer__content {
  text-align: center;
}

.footer__icons a {
  margin: 0px 15px;
}
