@import url(../css/nullstyle.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@300;400;700&display=swap');

$black: #000000;
$lightblack: #333333;
$grey: #9a9a9a;
$lightgrey: #cccccc;
$white: #ffffff;
$lightwhite: #f5f5f5;
$orange: #ff8b38;
$lightorange: #ff9b51;

$OpenSans: 'Open Sans',
	sans-serif;
$Raleway: 'Raleway',
	sans-serif;

body {
	font-family: $OpenSans;

	&._lock {
		overflow: hidden;
	}
}

a {
	color: $white;
	text-decoration: none;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0px 10px;
}

.section {
	padding: 120px 0px;
}

.title {
	font-size: 36px;
	line-height: 43px;
	text-align: center;
	width: 100%;

	&::after {
		content: "";
		display: block;
		height: 2px;
		width: 60px;
		margin: 30px auto;
		background-color: $orange;
	}
}

.subtitle {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}

.download {
	display: inline-block;

	& a {
		display: block;
		font-family: $OpenSans;
		font-size: 15px;
		font-weight: 600;
		padding: 10px 30px;
		border: 2px solid #fff;
		border-radius: 2px;
	}

	&.welcome__button a:hover,
	&.custom__button a:hover {
		color: $grey;
		background-color: $white;
		transition: all 0.5s;
	}
}

.slick-list {
	overflow: hidden;
}

.slick-track {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.header {
	background-color: $black;
	padding: 20px 0px;

	&__content {
		display: flex;
		justify-content: space-between;
	}

	&__menu {
		text-align: center;

		&-icon {
			display: none;
		}

		&-list {
			display: flex;

			& a {
				margin: 0px 25px;
				color: $grey;

				&:hover {
					color: $white;
					transition: 0.5s;
				}
			}
		}
	}
}

.welcome {
	background-color: $grey;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__content {
		max-width: 520px;
		color: $white;
		font-family: $Raleway;
		font-weight: 300;
	}

	&__logo {
		margin-bottom: 30px;
		max-width: 175px;

		& img {
			width: 100%;
		}

		// font-size: 108px;
		// font-weight: 700;

		// & span {
		// 	color: $orange;
		// 	font-weight: 400;
		// }
	}

	&__title {
		font-size: 36px;
		line-height: 43px;

		&::after {
			content: "";
			display: block;
			height: 2px;
			width: 60px;
			background-color: $white;
			margin: 40px 0px;
		}
	}

	&__text {
		font-size: 16px;
		line-height: 23px;
		margin-bottom: 40px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		background-color: $white;
		height: 100%;

		&-label {
			background-color: $lightwhite;
			padding: 20px 50px;
			font-weight: 700;
			font-size: 20px;

			& span {
				color: $orange;
				text-transform: uppercase;
			}
		}

		&-data {
			margin: 0px 40px 20px;

			& input {
				display: block;
				width: 100%;
				border-bottom: 1px solid #d6d6d6;
				margin: 30px 0px;
				padding: 10px;
			}
		}

		&-submit {

			& button {
				font-weight: 700;
				font-size: 15px;
				width: 100%;
				background-color: $lightorange;
				padding: 20px 0px;
				color: $white;
			}
		}
	}
}

.brand-bar {
	padding: 20px 0px;

	&__inner {
		display: flex;
		align-items: center;
	}

	&__title {
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 5px;
	}

	&__text {
		color: $grey;
		line-height: 20px;
	}

	&__links {
		display: flex;
		gap: 60px;

		& a {
			color: $lightgrey;
			font-size: 48px;
		}
	}
}

.features {
	background-color: $lightwhite;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__tabs {

		& .slick-dots {

			& li {
				list-style: none;

				&:not(:last-child) {
					margin-bottom: 1px;
				}

				&.slick-active button {
					background-color: $orange;
					transition: all 0.25s;
				}
			}

			& button {
				padding: 50px 35px;
				background-color: $lightblack;
				color: $white;
				text-align: center;
				font-size: 15px;
				line-height: 20px;
				font-weight: 700;
				white-space: nowrap;
				cursor: pointer;
			}
		}
	}

	&__content {
		max-width: 430px;
		width: 100%;
		margin: 0px 20px;
	}

	&__title {
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 60px;
		width: 100%;
		text-align: left;
	}

	&__text-item {
		line-height: 20px;
		margin-bottom: 50px;
	}

	&__button a {
		background-color: $orange;
		border: $orange;
		padding: 15px 25px;
	}

	&__image img {
		max-width: 100%;
	}
}

.sub-list {

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}

	&__content {
		max-width: 440px;
	}

	&__image img {
		max-width: 420px;
		width: 100%;
		box-shadow: 0px 10px 50px 5px $grey;
	}

	&__title {
		text-align: left;
		font-size: 20px;
		line-height: 43px;
		font-weight: 700;

		&::after {
			margin: 30px 0px;
		}
	}

	&__subtitle {
		text-align: left;
		margin-bottom: 40px;
	}

	&__item {
		display: grid;
		grid-template-columns: 40px 1fr;
		grid-template-columns: 40px 1fr;
		grid-template-areas:
			"image title"
			"image text";

		&:first-child {
			margin-bottom: 40px;
		}

		&-image {
			font-size: 16px;
			color: $orange;
			display: flex;
			align-items: center;
			width: 40px;
			height: 40px;
			border: 2px solid $orange;
			border-radius: 50%;
			grid-area: image;

			& i {
				margin: 0 auto;
			}
		}

		&-content {
			margin-left: 30px;
		}

		&-title {
			font-weight: 600;
			line-height: 17px;
			margin-bottom: 15px;
			grid-area: title;
		}

		&-text {
			grid-area: text;
		}
	}
}

.standart-picture {
	background-color: $lightwhite;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		max-width: 480px;
	}

	&__title {
		text-align: left;

		&::after {
			margin: 30px 0px;
		}
	}

	&__subtitle {
		text-align: left;
	}

	&__image img {
		max-width: 420px;
		width: 100%;
		box-shadow: 0px 10px 50px 5px $grey;
	}
}

.our-process {
	text-align: center;

	&__row {
		display: flex;
		margin-top: 80px;
		gap: 10px;

		&-image {
			margin: 0 auto;
			display: flex;
			align-items: center;
			font-size: 32px;
			color: $orange;
			width: 65px;
			height: 65px;
			border: 2px solid $orange;
			border-radius: 50%;

			& i {
				margin: 0 auto;
			}
		}

		&-title {
			font-weight: 700;
			font-size: 20px;
			line-height: 24px;
			margin: 30px 0px;
		}

		&-text {
			font-size: 14px;
			line-height: 20px;
		}
	}
}

.pricing {
	background-color: $lightwhite;

	&__row {
		text-align: center;
		color: $white;
		margin-top: 80px;
		position: relative;

		& .slick-dots {
			margin-top: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10%;

			& li {
				list-style: none;

				&.slick-active button {
					background-color: $grey;
					transition: all 0.25s;
				}
			}

			& button {
				font-size: 0;
				width: 10px;
				height: 10px;
				background-color: $white;
				border-radius: 50%;
			}
		}
	}

	&__item {
		max-width: 343px;

		&:not(:last-child) {
			margin-right: 5%;
		}

		&-title {
			background-color: $lightblack;
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 1px;
			padding: 20px 0px;
		}

		&-value {
			background-color: $lightblack;
			font-family: $Raleway;
			line-height: 3.5rem;
			font-size: 6.5rem;
			font-weight: 700;
			padding: 30px 0px 15px;

			&::first-letter {
				font-size: 2.5rem;
			}
		}

		&-term {
			background-color: $lightblack;
			padding-bottom: 20px;
			color: $grey;
		}

		&-property {
			color: $lightblack;
			background-color: $white;
			margin-bottom: 1px;

			&:first-child {
				color: $white;
				background-color: $orange;
				font-weight: 700;
				min-height: 5px;
			}

			&:not(.empty-property) {
				padding: 15px 0px;
			}
		}
	}
}

.testimonials {
	&__subtitle {
		margin-bottom: 130px;
	}

	&__row {
		display: flex;
		gap: 120px;
	}

	&__item {
		max-width: 270px;

		&-text {
			margin-bottom: 20px;
			padding: 25px 10px;
			background-color: $lightwhite;
		}

		&-image {
			background-color: $grey;
			border-radius: 50%;
			height: 70px;
			width: 70px;
		}

		&-title {
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 5px;
		}
	}
}

.custom {
	background-color: $grey;
	color: $white;
	text-align: center;

	&__title {
		&::after {
			background-color: $white;
		}
	}

	&__button {
		margin-top: 30px;
	}
}

.contact {
	&__subtitle {
		margin-bottom: 80px;
	}

	&__form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr auto;
		grid-template-areas:
			"data message"
			"button button";
		column-gap: 70px;
		row-gap: 40px;

		// &-content {
		// 	margin-bottom: 40px;
		// 	display: flex;
		// 	justify-content: space-between;
		// }

		&-data {
			display: flex;
			flex-direction: column;
			grid-area: data;

			& input {
				border-bottom: 1px solid $lightgrey;
				padding: 10px;

				&:not(:last-child) {
					margin-bottom: 30px;
				}

				&::placeholder {
					color: $lightgrey;
				}
			}
		}

		&-message {
			grid-area: message;
			border-bottom: 1px solid $lightgrey;

			& textarea {
				width: 100%;
				height: 100%;
				resize: none;

				&::placeholder {
					color: $lightgrey;
				}
			}
		}

		&-button {
			text-align: center;
			grid-area: button;
			display: inline-block;

			& button {
				padding: 15px 20px;
				background-color: $lightorange;
				color: $white;
				font-size: 15px;
				font-weight: 600;
				border-radius: 2px;
				display: inline-block;
			}
		}
	}
}

.footer {
	color: $lightgrey;
	background-color: $black;
	padding: 20px 0px 15px;

	&__content {
		text-align: center;
	}

	&__links {
		margin-bottom: 15px;

		& a {
			margin: 0px 15px;
			font-size: 24px;
			color: $lightgrey;

			&:hover {
				color: $white;
				transition: all 0.25s;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.header {
		&__logo {
			z-index: 2;
		}

		.header__menu-icon {
			display: block;
			z-index: 2;
			position: relative;
			right: 20px;
			width: 30px;
			height: 18px;
			cursor: pointer;

			& span,
			&::before,
			&::after {
				left: 0;
				position: absolute;
				height: 10%;
				width: 100%;
				transition: all 0.3s ease 0s;
				background-color: #fff;
			}

			& span {
				top: 50%;
				transform: scale(1) translate(0px, -50%);
			}

			&._active span {
				transform: scale(0) translate(0px, -50%);
			}

			&::before {
				content: '';
				top: 0;
			}

			&._active::before {
				top: 50%;
				transform: rotate(-45deg) translate(0px, -50%);
			}

			&::after {
				content: '';
				bottom: 0;
			}

			&._active::after {
				bottom: 50%;
				transform: rotate(45deg) translate(0px, 50%);
			}
		}

		.header__menu-body {
			position: fixed;
			z-index: 1;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.9);
			padding: 100px 30px 30px 30px;
			transition: left 0.25s ease 0s;
			overflow: auto;

			&._active {
				left: 0;
			}
		}

		.header__menu-list {
			flex-direction: column;
			gap: 50px;
			font-size: 30px;

			& a:hover {
				background-color: rgba(0, 0, 0, 0);
			}
		}
	}

	.welcome {
		&__inner {
			flex-direction: column;
			align-items: center;
		}

		&__content {
			flex-direction: column;
			align-items: center;
		}

		&__form {
			margin-top: 50px;
		}
	}

	.brand-bar {
		&__inner {
			flex-direction: column;
		}

		&__links {
			display: block;
			justify-content: space-between;
			margin-top: 20px;

			a {
				font-size: 36px;
				margin-right: 10px;
			}
		}
	}

	.features {
		&__inner {
			flex-direction: column;
			align-items: center;
			gap: 20px;
		}

		&__text {

			& .slick-dots {
				margin-bottom: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 10%;

				& li {
					list-style: none;

					&.slick-active button {
						background-color: $grey;
						transition: all 0.25s;
					}
				}

				& button {
					font-size: 0;
					width: 10px;
					height: 10px;
					background-color: $white;
					border-radius: 50%;
				}
			}
		}

		&__button.download a {
			margin: 0 auto;
		}
	}

	.sub-list {
		&__inner {
			flex-direction: column;
			align-items: center;
			gap: 20px;
		}
	}

	.standart-picture {
		&__inner {
			flex-direction: column;
			align-items: center;
			gap: 20px;
		}
	}

	.our-process {
		&__row {
			flex-direction: column;
			gap: 50px;
		}
	}

	.pricing {
		&__item:not(:last-child) {
			margin-right: 0px;
		}
	}

	.testimonials {
		&__row {
			flex-direction: column;
			align-items: center;
			gap: 20px;
		}
	}

	.contact {
		&__form {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr auto;
			grid-template-areas:
				"data"
				"message"
				"button";
		}
	}

	.footer {
		&__links {
			display: flex;
			justify-content: space-between;

			& a {
				margin: 0 auto;
			}
		}
	}
}

@media screen and (max-width: 424px) {
	body {
		font-size: 14px;
		line-height: 14px;
	}

	.section {
		padding: 60px 0px;
	}

	.title {
		font-size: 24px;
		line-height: 24px;
	}

	.subtitle {
		font-size: 16px;
		line-height: 16px;
	}

	.welcome {

		&__title {
			font-size: 24px;
			line-height: 24px;
		}

		&__form {
			&-label {
				line-height: 20px;
			}

			&-data {
				margin: 0px 20px 10px;
			}
		}
	}

	.testimonials {
		&__item-title {
			margin: 5px 0px;
		}
	}

	.footer {
		&__links a {
			font-size: 20px;
		}
	}
}